# .clang-format
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
Cpp11BracedListStyle: true
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ReflowComments: true
SortIncludes: false
IncludeBlocks: Preserve